@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap'); /*este es cuando abri github por primera vez hoy*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body{
    background-color: black;
}

.botones-movimiento {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .titulo-central {
        font-family: "Nabla", system-ui;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "EDPT" 100, "EHLT" 12;
        font-size: 60px;
    }


.subtitulo{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0px;
    color: rgb(209, 120, 85);
}

#selec_mascota{
    height: 600px;
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
}

.titulo-central{
    color: rgb(85, 38, 71);
    text-decoration:underline;
    text-decoration-color:#ffbb066b;
    text-decoration-style: dotted;
    margin: 05px;
}

.listaOrganizada{
    display: flex;
    gap: 20px ;
}

label{
    width:1px;
    height: 100px;
    background-color: rgb(184, 233, 106);
    border-radius: 23px;
    
}

.tarjeta_mokepon{
    width: 260px;
    height: 300px;
    background-color: rgba(247, 234, 142, 0.945);
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px; color: rgb(252, 84, 18);
    
}

.claseBotonMascota{
    width: 500px;
    height: 50px;
    background-color:transparent;
    border-radius: 60px;
    border-color: rgb(200, 65, 4);
    border-width: 6px;
    color: beige;
    font-family: cursive;
    font-size: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 40px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    font-size: 20;
}

.tarjeta_mokepon img{
    width: 200px;
    border-radius: 20px;
    
}

input{
    display: none;
}

input:checked + label{
    background-color: #f1ad32;
}


div{
    color: aliceblue;
}

#seleccionar-ataque{
    align-items: center;
    flex-direction: column;
}

.boton-ataque{
    margin-right: 5px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e5c68f;
    height: 90px;
    width: 120px;
    border-radius: 30px;
    border-bottom-color: transparent;
    color: rgb(0, 0, 0);
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 20px;
    border-color: #f1ad32;
    border-width: 10px;
}

#mensajes{
    padding: 20px;
    background: rgb(0, 0, 0);
    height: 130px;
    width: 400px;
    border-radius: 20px;
    margin-top: 10px;
    font-family: "Jersey 10", sans-serif;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
}

#boton-reinicia{
    width: 323px;
    height: 50px;
    background-color: transparent;
    border-radius: 60px;
    border-color: rgb(200, 65, 4);
    border-width: 6px;
    color: beige;
    font-family: cursive;
    font-size: 30px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 30px;
    font-family: "Nabla", system-ui;
    font-variation-settings: "EDPT" 100, "EHLT" 12; 
}

#resultado{
    padding: 0px;
    margin: 0px;
}

.juego-en-proceso{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 40px;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    color: rgb(253, 253, 253);

}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


#mapa {
    border: 3px solid rgb(252, 84, 18);
    border-radius: 40px;
}

#ver-mapa button{
    width: 79px;
    height: 50px;
    background-color: transparent;
    border-radius: 60px;
    border-color: rgb(200, 65, 4);
    border-width: 6px;
    color: beige;
    font-family: cursive;
    font-size: 30px;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Nabla", system-ui;
    font-variation-settings: "EDPT" 100, "EHLT" 12;
}

.boton-arriba{
    margin: 0;
}

.botones-movimiento{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.titulo-central-mapa{
    color: rgb(85, 38, 71);
    text-decoration-color:#ffbb066b;
    text-decoration-style: dotted;
    font-size: 40px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    text-decoration:underline;
    margin: 05px;
} 


.ataquesJugador, .ataquesEnemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .tarjeta_mokepon, .listaOrganizada{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 115px;
        height: 399px;
    }

.titulo-central{
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    font-size: 40px;
}
    .subtitulo{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0px;
    color: rgb(209, 120, 85);
    }

.claseBotonMascota {
  font-family: "Nabla", system-ui;
  font-weight: 400; /* Use the 400 weight for the button */
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  font-size: 30px;
}

    .tarjeta_mokepon{
        padding: 0px;
        font-size: 30px; color: rgb(252, 84, 18);
        width: 120px; 
        height: 200px; 
    }

    .tarjeta_mokepon img{
        width: 80px;
        border-radius: 20px;
    }

    .claseBotonMascota{
        width: 300px;
        height: 50px;
        border-width: 5px;
        font-size: 35px;
        padding: 10px;
        margin: 30px;
    }

    #selec_mascota{
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



